
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP','Arial', sans-serif;
    /* font-family: sans-serif,'Arial'; */
    background: linear-gradient(to bottom, #121212 0%, #1c1c1c 50%, #171718 100%);
    color: #f5f5f5;
    line-height: 1.6;
}

p {
    font-size: 1.25rem; 
    margin-bottom: 1.1em; 
}

html {
  scroll-behavior: smooth;
}


h1, h2, h3 {
  margin-bottom: 10px;
}

a {
  color: #f5f5f5;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #00bcd4;
}


header {
  background-color: #1f1f1f;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 2px;
    object-fit: cover;
    /* border: 3px solid #cc6d2e; */
    transition: transform 0.3s ease;
}

.name {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

nav {
  margin-top: 15px;
}

nav a {
    color: #f5f5f5;
    text-decoration: none;
    margin: 0 15px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.nav-row a {
    color: #f5f5f5;
    text-decoration: none;
    margin: 32px;
    font-size: 1.7em;
    transition: color 0.3s ease;
}

.nav-row a:hover {
    color: #00bcd4;
}

.nav-row {
  margin: 10px 0;
  border-radius: 10px;
}


section {
  padding: 60px 20px;
  text-align: center;
  border-top: 1px solid #333;
}

.category {
  display: block;
  font-size: 2.3em;
  margin-bottom: 30px;
  font-weight: bolder;
  color: #bb6310;
  font-family: 'Arial', sans-serif;
  /* text-shadow: 5px 5px #000; */
}

.about {
  background-color: #2e2e2e;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  max-width: 1000px;
  text-align: left;
  font-family: 'Arial', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about h2{
    margin-top: 0;
    font-size: 1.5em;
    color: #bb6310;
    text-align: left; 
}

.about p {
  text-align: left;      
  font-weight: 400;
  font-size: 1.1em;      
  line-height: 1.8;      
  margin-top: 1em;
}


.about:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(12, 142, 218, 0.137);
}




.blog-entry {
    background-color: #2e2e2e;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-entry:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(12, 142, 218, 0.137);
}

.blog-entry h2{
    margin-top: 0;
    font-size: 1.5em;
    color: #bb6310;
    text-align: center; 
}

.blog-entry p {
  text-align: left;      
  font-weight: 400;
  font-size: 1.1em;      
  line-height: 1.8;      
  margin-top: 1em;
}

.blog-entry ul {
  text-align: left;      
  font-weight: 400;
  font-size: 1.1em;      
  line-height: 1.8;      
  margin-top: 1em;
}

.blog-date {
  display: flex;
  align-items: center;
  gap: 20px;           
  font-size: 1.2em;
}

.blog-date span {
  display: inline-flex;
  align-items: center;
  gap: 6px;            
}

.calendar-icon,
.clock-icon {
  width: 1em;
  height: 1em;
  opacity: 0.85;
}


footer {
  background-color: #1f1f1f;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #aaa;
}



/* humberger */

.menu-wrapper {
  position: relative;
}

.menu-icon {
  width: 40px;
  height: 30px;
  position: fixed; 
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 5;
  display: inline-block;
  color: #bb6310;
}

.menu-icon span {
  display: block;
  height: 4px;
  margin: 6px 0;
  background: #c2c2c2;
  border-radius: 2px;
  transition: 0.4s;
}

#menu-toggle:checked + .menu-icon span {
  background: #272727;   /* ← 黒 */
}

/* ハンバーガーがXに変形 */
#menu-toggle:checked + .menu-icon span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
#menu-toggle:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .menu-icon span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* オーバーレイ背景 */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  z-index: 1;
}

#menu-toggle:checked ~ .overlay {
  opacity: 1;
  pointer-events: auto;
}


.menu {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background: #b16015;
  box-shadow: 2px 0 8px rgba(0,0,0,0.2);
  transition: left 0.4s ease;
  z-index: 2;
}

#menu-toggle:checked ~ .menu {
  left: 0; 
}

.menu ul {
  list-style: none;
  padding: 40px 30px;
}

.menu li {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 650;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.menu a:hover {
  color: #0591bb;
}

